*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#f7f7f7;
  color:#242424;
}

button{
  font-family:inherit;
}

img{
  max-width:100%;
  display:block;
}

a{
  text-decoration:none;
  color:inherit;
}

::-webkit-scrollbar{
  width:8px;
}

::-webkit-scrollbar-thumb{
  background:#c7c7c7;
  border-radius:10px;
}

::-webkit-scrollbar-thumb:hover{
  background:#999;
}